* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;     
  background-image: url('public/assets/iteration-1/home-banner.png');
  min-height: 100vh;  
  width: 100%; 
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  column-gap: 0;
  flex-shrink: 0;
}

header img {
  margin: 0 auto;
  padding-top: 2rem;
}

header p {
  font-family: Satisfy;
  font-style: regular;
  font-size: 32px;
  color: #FDC913;
  padding-top: 2rem;
  margin: 0;
}

header h1 {
  font-family: "Roboto Condensed";
  font-style: light;
  font-size: 6rem;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 50px;
  background-color: #FDC913;
  color: #FFFFFF;
  border: none;
}

.btn:hover {
  color: #FDC913;
  background-color: #FFFFFF;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
}


body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
